/*
Theme Name: Brafé
Thame URI: www.brafe.com
Author: In Junior
Author URI: www.injunior.com.br
Description: Esse tema foi criado para dar aula no treinamento 2020.2
Version: 1.0
*/

/*________________ menu ________________ */

.menu {
	background: #252525;
	padding: 15px 0;
	position: fixed;
	top: 0;
	width: 100%;
}

.menu-nav ul {
	float: right;
}

.menu-nav ul li {
	display: inline-block;

}

.menu-nav a {
	text-decoration: none;
	color: white;
	font-size: 1.125em;
	display: block;
	padding: 10px;
	margin-left: 10px;
}

.menu-nav ul li::after {
	display: block;
	content: '';
    height: 1px;
    width: 0%;
    background-color:white;
	transition: .2s;
	
}

.menu-nav ul li:hover::after{
	width: 100%;

}

@media (max-width: 739px) {
	.menu-nav ul {
		float: none;
	}
	.menu-nav ul li a {
		margin-left: 0px;
		padding-left: 0px;
		padding-right: 8px;
	}
}

/*________________ inicio ________________ */

.inicio {
	background: url("img/bg-intro.jpg") no-repeat center center;
	background-size: cover;
	color: white;
	padding: 150px 0;
	text-align: center;
}

.inicio h1 {
	text-transform: uppercase;
	font-size: 3em;
}

.inicio h1::after {
	content: '';
	display: block;
	width: 20px;
	height: 4px;
	background: white;
	margin: 10px auto;
}

.inicio p {
	font-style: italic;
	font-size: 1.125em;
}

@media (max-width: 739px) {
	.inicio {
		padding: 60px 0;
	}
}

/*________________ sobre ________________ */

.sobre {
	padding: 60px 0;
}

.sobre h2 {
	font-size: 2.25em;
	text-align: center;
	margin-bottom: 60px;
}

.sobre-item h3 {
	font-size: 2.25em;
	line-height: 1em;
	background: #252525;
	color: white;
	font-style: italic;
	font-weight: normal;
	text-align: center;
	position: relative;
	width: 220px;
	padding: 5px 0 10px 0;
	top: -25px;
}


.sobre > p {
	font-size: 1.125em;
	line-height: 1.4em;
	font-style: italic;
	max-width: 460px;
	margin: 20px auto;
	text-align: center;
	
}

/* ________________ produtos ________________ */

.produtos {
	background: #e7e4d8;
	border-top: 3px solid #d6d3c8;
	border-bottom: 3px solid #d6d3c8;
	padding: 60px 0;
}

.produtos-item {
	margin-bottom: 40px;
}

.produtos-item h2 {
	font-size: 2.25em;
	text-align: center;
	margin-bottom: 20px;
}

.produtos-item h2::before {
	content: '';
	display: block;
	width: 100px;
	height: 100px;
	background: currentColor;
	border-radius: 50%;
	border: 5px solid #e9e6db;
	box-shadow: 0 0 0 5px currentColor;
	margin: 20px auto
}

h2.produtos-paulista::before {
	color: #442602;
}

h2.produtos-carioca::before {
	color: #d66e24;
}

h2.produtos-mineiro::before {
	color: #e9b458;
}

.produtos-item p {
	font-size: 0.875em;
	line-height: 1.4em;
}

.produtos-btn {
	border: 3px solid #1b1b1b;
	color: #1b1b1b;
	text-decoration: none;
	text-align: center;
	font-size: 1.125em;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	width: 180px;
	padding: 15px 0;
	margin: 0 auto;
}

.produtos-btn:hover{
	border: 3px solid #252525;
	color: #d6d3c8;
	text-decoration: none;
	text-align: center;
	font-size: 1.125em;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	width: 180px;
	padding: 15px 0;
	margin: 0 auto;
	background-color:#1b1b1b;
	transition: all 1s ease;

}

/* ________________ unidades ________________ */

.unidades {
	padding: 60px 0;
}

.unidades-item {
	margin-bottom: 40px;
}

.unidades-item h2 {
	font-size: 2.25em;
	margin-bottom: 20px;
}

.unidades-item p {
	font-size: 1.125em;
	line-height: 1.4em;
	max-width: 320px;
	margin-bottom: 40px;
}

.unidades-item a {
	font-size: 1.125em;
	text-transform: uppercase;
	text-decoration: none;
	border: 3px solid;
	color: #1b1b1b;
	padding: 10px 20px;
}

.unidades-item a:hover {
	font-size: 1.125em;
	text-transform: uppercase;
	text-decoration: none;
	border: 3px solid #1b1b1b ;
	color: white;
	padding: 10px 20px;
	background-color:#1b1b1b;
	transition: all 1s ease;

}

/* ________________ contato ________________ */

.contato {
	background: #e7e4d8;
	padding: 30px 0;
}

.contato-info h2 {
	font-size: 2.25em;
}

.contato-info p {
	font-size: 1.5em;
	font-style: italic;
}

.contato form label {
	display: none;
}

.contato input {
	border: 3px solid #252525;
	background: none;
	font-size: 1.5em;
	font-style: italic;
	font-family: Georgia, serif;
	width: calc(100% - 140px);
	padding: 10px;
	float: left;
}

.contato button {
	background: #252525;
	border: none;
	font-family: Georgia, serif;
	text-transform: uppercase;
	font-size: 1.5em;
	color: white;
	cursor: pointer;
	width: 140px;
	padding: 13px 0;
}

/* ________________ footer ________________ */

.footer {
    background: #d6d3c8;
    font-family: Georgia, serif;
    padding: 20px 0;

}

.footer img {
	float: right;
}

.footer p {
	font-size: 1.140em;
	line-height: 1.4em;
}

@media (max-width: 739px) {
	.footer img {
		float: none;
        margin-top: 20px;
        
	}
}

@media (max-width: 750px) {
	.container {
		max-width: 330px;
	}
	.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11, .grid12 {
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
		float: none;
	}
}





h1{
	font-size: 5.0rem;

}
